* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-primary : #0b0c10;
    --bg-color-secondary : #1f2833;

    --font-color-primary : #c5c6c7;
    --font-color-secondary : #c5c6c7 ;

    --style-color : #66fcf1;
    --style-color-2: #45a29e;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.1;
    color: var(--font-color-primary);
    background: radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);

}
/* typography */
h1 {
    font-size: 1.7rem;
}
h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: var(--font-color-primary);
}

li {
    margin: 0;
    list-style: none;
}


/*  utils  */
.container {
    max-width: 1100px;
    width: 90%;
    min-width: 300px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: 20px;
}

.btn {
    padding: 3px 6px;
    font-weight: 600;

}
/* animation */
@keyframes slideFromLeft {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideFromRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* header : logo and navs */

header {
    background: var(--bg-color-primary);
    border-bottom-right-radius: 70%;
    padding-bottom: 12px;
}
.header-nav {
    justify-content: space-between;
    padding: 20px 0 10px 0;
    animation: slideFromTop 1s .5s ease;

}

.header-nav li {
    display: inline-block;
    margin-left: 30px;
}

.header-nav a {
    color: var(--style-color);
    font-weight: 600;
    padding: 1px;
    transition: color .4s ease;
}

.header-nav a:hover , .header-nava:active {
    color: var(--font-color-primary);
}

/* menubar */
.menubar {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 30px;
    
}
.menubar:hover {
    transform: scale(1.111);
}
.menubar .line {
    height: 2px;
    width: 100%;
    background: var(--style-color);
    border-radius: 30%;
}

/* home section */
.home {
    grid-template-columns: 1fr 6fr 5fr;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-top: 50px;
}


.fa-brands {
    /* background-color: white; */
    color: var(--font-color-primary);
    transition: all .1s ease;
}

.fa-brands:hover ,.fa-brands:active {
    transform: scale(1.2);
}
.home .col-1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-left: 10px;
    animation: slideFromLeft 1s .5s ease;
}


/* col-2 */

.home .col-2 {
    align-items: flex-start;
    flex-direction: column;
    animation: slideFromLeft 1s .5s ease;

}
.btn-primary {
    margin-top: 20px;
    align-self: center;
    background-color: var(--bg-color-secondary);
    color: var(--font-color-primary);
    border: none;
    border: var(--style-color) solid 2px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;

}

.btn:hover {
    transform: scale(.95);
}

.home .col h2,h3 {
    font-size: 2rem;
    margin-bottom: 10px;

}

.home .col-3 {
    display: flex;
    justify-content: center;
    animation: slideFromRight 1s .5s ease;
}

.home .col-3 img {
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.home .col-3 img:hover {
    transform: scale(.97);
    cursor: pointer;
}


/*  mediaquerry */

@media(max-width:855px ) {
    .header-nav {
        flex-direction: column;
        gap: 12px;
    }
}

@media(max-width: 700px) {

    .header-nav {
        flex-direction: row;
    }

    .header-nav ul {
        opacity: 0;
        position: fixed;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        top: 0;
        right: 0;
        left: 0;
        height: 90vh;
        background-color: var(--bg-color-secondary);
        transition: all .6s ease;
        pointer-events: none;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
    }

    .mobile ul {
        opacity: 1;
        pointer-events: all;
    }
    .header-nav li {
        margin: 16px;
    }

    .header-nav a {
        padding: 3px;
    }

    .home {
        grid-template-rows: 1fr;
        grid-template-columns: 10% 90%;
    }

    .home .col-1 {
        align-items: center;
    }
    .home .col-3 {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    .menubar {
        display: flex;
        z-index: 999;
    }


}

@media(max-width:605px) {

    header {
        border-bottom-right-radius: 60%;
    }
    html {
        font-size: 14px;
    }

    .home .col-3 img {
        width: 200px;
    }
}


/* ===================================================== */
/* main content starts here */
main {
    animation: slideFromBottom 1s .5s ease ;
}
/* about section */
main .container {
    color: rgba(252, 252, 252, 0.87);
    font-weight: 600;
    
}


main .container section {
    margin: 4rem 0 ;
}

main h2 {
    font-size: 1.7em;
    margin-bottom: 1em;
}




/* skill section */

main h3 {
    font-size: 1.322rem;
}

.skill svg:hover {
    transform: scale(1.2);
    transition: all  .5s ease;
    cursor: pointer;
}

.skill .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.skill .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill ul {
    margin: 2em 0;
    display: flex;
    gap: 15px;
    text-align: center;
}

.skill p {
    font-weight: 600;
}
/* mediaquerry */
@media(max-width:999px) {
    .skill .row {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .skill .col3 {
        grid-column: 1 /3;
    }
}

@media(max-width:553px) {
    .skill .row {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .skill .col3 {
        grid-column: 1;
    }
}


/* qualification section */

.qualification .row{
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.qualification ul p {
    margin-top: 4px;
    color: var(--style-color);
}

.qualification ul li {
    list-style: circle;
    margin: .7em 0;
}



/* service section */

.services .grid {
    grid-template-columns: 1fr 1fr;
}

.services .col {
    border: 2px solid var(--style-color);
    border-radius: 10px;
    border-end-start-radius: 40%;
    padding: 4em 1em;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    overflow: hidden;
}
.services .col:hover {
    transform: scale(1.01);
}
.services .col img {
    width: 100px;
    transition: all .7s ease;
}

.services .col:hover img {
    transform: scale(1.2);
}

/* mediaquerry */
@media(max-width:451px) {
    .services .grid {
        grid-template-columns: 1fr;
    }

}


/* contact section */
.contact .row {
    grid-template-columns: 1fr 1fr;
}

.contact .col {
    padding: 1rem 0 2rem 0;
    flex-direction: column;
    justify-content: flex-start;
    
}
/* form */
.contact form {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    width: 100%;
}

.contact form input,textarea {
    border: none;
    border-bottom: 2px solid var(--style-color);
    border-radius: 4px;
    background-color: transparent;
    width: 90%;
    color: white;
    font-size: 1.3rem;
    padding: 3px;
    transition: transform .1s ease;
}

.contact form input:active,
.contact form input:focus ,
.contact form textarea:focus ,
.contact form input:active {
    outline: none;
    transform: scale(.98);
}

.form-control {
    margin: .5rem 0;
}

.form-control input:focus{
    color: var(--style-color);
}

/* contact details */
.contact .col2 ul li {
    margin: 2em 0;
    font-size: 1.3rem;
    
}

.contact .col2 ul svg {
    color: red;
    margin-right: 5px;
}

@media(max-width:607px) {
    .contact .row {
        grid-template-columns: 1fr;
    }
}




/* footer */
footer {
    padding: 2em;
    border-top: 1px solid var(--style-color);
    font-weight: bold;
}

footer p {
    font-size: 1.1rem;
    
}

.maintain {
    float: right;
}